
@font-face {
    font-family: 'ibm_3270medium';
    src: url('3270-Medium 500.ttf');

}
body {
  font-family: 'ibm_3270medium';
  background-color: hsl(232, 12%, 22%);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%
}

h1 {
  color:  #66BFBF
}

h2 {
  color: #66BFBF
}

p {
  color: #DAA520;
}

li {
  color: #DAA520;
}

table {
  color: hsl(315, 81%, 44%);
}

thead {
  color: #DAA520;
}
