.jumbotron {
  background: url('backgroundimage.jpg') no-repeat center center fixed;
  padding-top: 20%;
  padding-bottom: 10%;
  background-size: cover;
  border-radius: 0;
}

.jumbotron1 {
  background: url('backgroundimage.jpg') no-repeat center center fixed;
  padding-top: 10%;
  padding-bottom: 5%;
  background-size: cover;
  border-radius: 0;
}

@font-face {
    font-family: 'ibm_3270medium';
    src: url('3270-Medium 500.ttf');

}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* .centered {
  text-align: center;
} */

.link {
  color: #4169e1;
  /* text-align: center; */
}

/* .link-center {
  display: flex;
  justify-content: center;
} */

body {
  font-family: 'ibm_3270medium';
  background-color: #e9eff6/*hsl(232, 12%, 22%)/*black*/;
}

hr {
  border-style: none;
  border-top-style:ridge;
  /* border-color: grey; */
  border-width: 5px;
  width: 12%

}

h1 {
  /* margin: auto;
  text-align: center;
  width: 10%; */
  color:  white;
  text-shadow: 2px 2px grey;
}

h2 {
  /* margin: auto;
  text-align: center; */
  color: #66BFBF;
}

p {
  color: #DAA520;
  /* text-align: center; */
  /* box-shadow: 5px 5px hsl(232, 12%, 40%); */
}

li {
  color: #DAA520;
}

table {
  color: hsl(315, 81%, 44%);
  /* margin: auto;
  width: 10%;
  text-align: center; */
}

thead {
  color: #DAA520;
}

ul {
  /* width: 10%;
  margin: auto; */
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
